version: "3.9"

services:
  api:
    volumes:
      - ./services/api:/app:cached
    environment:
      MIX_ENV: dev
    deploy:
      resources:
        limits:
          cpus: "2.0"
          memory: 4g
        reservations:
          cpus: "1.0"
          memory: 2g

  bot:
    volumes:
      - ./services/bot:/app:cached
    environment:
      MIX_ENV: dev
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 2g
        reservations:
          cpus: "0.5"
          memory: 1g

  db:
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 2g

  redis:
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512m

  xray:
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512m
